/* reset */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* helper utility class */

.bg-dark {
  background-color: #333;
}
.w-half {
  width: 50%;
}

body {
  background-color: #e4e4e4;
}

/* svg inline */
.svg-inline svg {
  width: 300px;
  height: 300px;
}
.svg-inline:hover .eye {
  fill: yellowgreen;
}
