* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  /* tik kod darom svetaine */
  padding-bottom: 2000px;
  margin: 0;
  background-color: #e2e2e2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
